/* Colors
=========================*/
$colors: (
  coral: #ff6d48,
  white: #fff,
  black: #000,
  Merlin: #3f3b36,
  para: #231f20,
  text-black: #1b1917,
  lighter-gray: #f1f1f1,
  heading: #1c1c15,
  orange: #f75c3e,
  dark-orange: #d43900,
  light-orange: #ff6d47,
  faint-orange: #f96751,
  table-bg: #e5e5e5,
  text-gray: #535353,
  input-border: #908e8f,
  label: #939192,
  dark-gray:#2b2b2b,
  gray: #d6dade,
  con-heading: #231f20,
  submit: #b2b0ae,
  submit-bg: #fcbeb1,
  policy-text: #ababab,
  red: #f00,
  usa-heading: #403b35,
  usa-back: #ebebea,
  journey-back: #1a1a1a,
  box-shadow: rgba(136, 136, 136, .2),
  blue: #2c1dc1,
  light-gray: #e0e0e0,
  black-border: #d3d3d3,
  athens-grey: #f0f0f1,
  whisper: #e6e6e6,
  silver: #c1c0c0,
);

/* Breakpoints
=========================*/
$breakpoints: (
 mac: 1920px,
 pc: 1440px,
 small-pc: 1280px,
 mini-pc: 1024px,
 ipad: 995px,
 iphone: 767px,
 iphone-potrait: 480px,
);

/* Margins
=========================*/
$margins: (
  center: 0 auto
);