
.blog-list {
  @include flex-between;
  flex-wrap: wrap;

  li {
    flex-basis: 30%;
  }

  .blog-post {
    figure {
      width: 20%;
      margin:  map-get($margins,center);
    }
  }
}

.question-answer {
  @include flex-between;
  flex-wrap: wrap;

  li {
    flex-basis: 20%;
  }
}

.clients {
  padding: 100px 0;
  background: #c1c1c1;

  .wrapper {
    @include flex-between;
  }
}