header {
  padding: 20px 0;
  background: map-get($colors,black);
  color: map-get($colors,white);
  .wrapper {
    @include flex-between;

    h1 {
      flex-basis: 20%;
      a {
        color: map-get($colors,white);
      }

    }

    nav {
      flex-basis: 80%;
      text-align: right;

      li:not(:last-child) {
        margin-right: 5%;
      }

      a {
        color: map-get($colors,white);
      }
    }
  }
}