/* Colors
=========================*/
/* Breakpoints
=========================*/
/* Margins
=========================*/
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

/* Align radios and text inputs with their label */
input[type=radio] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}

sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/* Common styling */
.grey {
  color: #666;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.first-letter::first-letter {
  text-transform: uppercase;
}

.transition {
  transition: 1s all ease;
}

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 86%;
  margin: 0 auto;
}

::before {
  font-family: FontAwesome;
}

header {
  padding: 20px 0;
  background: #000;
  color: #fff;
}
header .wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
header .wrapper h1 {
  flex-basis: 20%;
}
header .wrapper h1 a {
  color: #fff;
}
header .wrapper nav {
  flex-basis: 80%;
  text-align: right;
}
header .wrapper nav li:not(:last-child) {
  margin-right: 5%;
}
header .wrapper nav a {
  color: #fff;
}

.blog-list {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
}
.blog-list li {
  flex-basis: 30%;
}
.blog-list .blog-post figure {
  width: 20%;
  margin: 0 auto;
}

.question-answer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
}
.question-answer li {
  flex-basis: 20%;
}

.clients {
  padding: 100px 0;
  background: #c1c1c1;
}
.clients .wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

/*# sourceMappingURL=style.css.map */
